@use "../helpers"as *;

/*---------О КЛИНИКЕ (START)--------*/
.about-clinic {
    &__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
        grid-template-rows: auto;

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &__swiper {
        grid-column: 1/7;
        grid-row: 1/3;
        align-self: start;
        min-width: 0;

        @include tablet {
            grid-column: span 1;
            grid-row: 2/3;
            margin-bottom: 24px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__swiper-base {
        margin-bottom: 20px;
        border-radius: 40px;
        background: var(--white);
        overflow: hidden;

        .swiper-slide {
            height: auto;
        }

        @include tablet {
            margin-bottom: 16px;
        }
    }

    &__item {
        border: var(--border-gray_light);
        border-radius: 40px;
        overflow: hidden;
        aspect-ratio: 396 / 227;

        @include tablet {
            aspect-ratio: 12 / 5;
        }

        @include mobile {
            aspect-ratio: 92 / 53;
        }

    }

    &__swiper-bullet {
        box-sizing: border-box;
    }

    &__item-bullet {
        border: var(--border-gray_light);
        overflow: hidden;
        border-radius: 20px;
        aspect-ratio: 23 / 16;
        width: 100%;

        @include tablet {
            border-radius: 12px;
            aspect-ratio: 18 / 9;
        }

        @include mobile {
            aspect-ratio: 82 / 50;
        }
    }

    &__head {
        grid-column: 8/13;
        grid-row: 1/2;
        margin-bottom: 24px;

        @include tablet {
            grid-column: span 1;
        }
    }

    &__content {
        grid-column: 8/13;
        grid-row: 2/3;

        @include tablet {
            grid-column: span 1;
            grid-row: 3/4;
        }

        @include mobile {
            overflow: visible;
        }
    }

    &__head,
    &__content {
        min-width: 0;
    }

    &__title {
        margin-bottom: 16px;

        @include tablet {
            margin-bottom: 24px;
        }
    }

    &__ratings {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        @include mobile {
            flex-wrap: nowrap;
            overflow-y: hidden;
            width: 100%;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__rating {
        flex: 0 1 145px;
        min-width: 120px;
        border: 2px solid var(--gray_light);
        border-radius: 18px;
        padding: 10px 12px;
        display: flex;
        white-space: nowrap;
        height: 38px;
        align-items: center;
        justify-content: center;
    }

    &__desc {
        line-height: 1.6;
        letter-spacing: 0.01em;
        margin-bottom: 24px;

        span {
            font-weight: 600;
        }

        @include tablet {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }

    &__benefits {
        display: grid;
        row-gap: 12px;
        margin-bottom: 32px;

        @include tablet {
            font-size: 16px;
        }
    }

    &__actions {
        display: flex;
        column-gap: 12px;

        @include mobile {
            flex-direction: column;
            row-gap: 12px;
        }
    }

    &__btn {
        @include tablet {
            width: 50%;
        }

        @include mobile {
            width: 100%;
        }
    }
}

.swiper-slide-thumb-active .about-clinic__item-bullet {
    border: 2px solid #3272dc;
}

/*---------О КЛИНИКЕ (END)--------*/