@use "../helpers"as *;

/*--------- FAQ (START)--------*/
.faq {
    &__title {
        margin-bottom: 40px;

        @include tablet {
            margin-bottom: 24px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    &__accordion-group {
        grid-column: 1 / 9;
    }

    &__accordion-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 100%;
        margin: 0 auto;
    }

    &__accordion-item {
        border: var(--border-gray_light);
        border-radius: 24px;
        overflow: hidden;
        background-color: var(--gray_2);
    }

    &__accordion-details {
        position: relative;
    }

    &__accordion-summary {
        display: grid;
        grid-template-columns: 90% 40px;
        align-items: center;
        justify-content: space-between;
        padding: 20px 24px;
        cursor: pointer;
        user-select: none;

        @include tablet {
            grid-template-columns: 90% 32px;
        }
    }

    &__accordion-question {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;

        @include tablet {
            font-size: 20px;
        }
    }

    &__accordion-toggle {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--blue_dark);
        transition: 0.4s ease;

        @include tablet {
            width: 32px;
            height: 32px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px;
            height: 2px;
            background-color: var(--white);
            border-radius: 1rem;
            transition: all 0.4s ease;
            transform: translate(-50%, -50%);
        }

        &::before {
            transform: translate(-50%, -50%);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &__accordion-summary:hover &__accordion-toggle {
        background-color: var(--blue_hover);
    }

    &__accordion-details[open] &__accordion-toggle::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &__accordion-details[open] &__accordion-toggle::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &__accordion-content {
        display: grid;
        grid-template-rows: 0fr;
        transition-duration: 0.4s;
    }

    &__accordion-inner {
        overflow: hidden;
    }

    &__accordion-body {
        display: grid;
        margin-inline: 24px 100px;
        padding-block: 4px 20px;
        font-size: 16px;
        line-height: 1.6;
        color: var(--gray_blue_dark);

        @include tablet {
            margin-inline: 24px 80px;
            padding-block: 0px 20px;
        }
    }

    &__accordion-details[open]+&__accordion-content {
        grid-template-rows: 1fr;
    }

    &__cta {
        grid-column: 10 / 13;
    }
}

/*--------- FAQ (END)--------*/