@use "../helpers"as *;

/*---------- FOOTER (START)---------------------*/
.footer {
    font-size: 16px;
    line-height: 1.1;
    background-color: var(--white);

    &__top {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 32px;

        @include tablet {
            display: grid;
            gap: 0;
            grid-template-rows: auto auto auto;
            justify-content: normal;
        }

        @include mobile {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            row-gap: 32px;
        }
    }

    &__top-mobile {
        display: contents;

        @include tablet {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            grid-row: 1;
        }

        @include mobile {
            flex-direction: column;
            row-gap: 24px;
            grid-column: 1;
            grid-row: 1;
            margin-bottom: 0;
        }
    }

    &__logo {
        @include tablet {
            width: 176px;
            height: 34px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: var(--gray_blue_dark);
        padding-block: 24px;

        @include tablet {
            display: grid;
            grid-template-columns: 1fr;
            gap: 14px;
        }

        @include mobile {
            padding-block: 24px 16px;
        }

        >* {
            @include tablet {
                padding-bottom: 24px;
                border-bottom: var(--border-gray_light);
            }

            @include mobile {
                padding-bottom: 14px;
            }
        }

        >*:last-child {
            @include tablet {
                border-bottom: none;
            }
        }
    }

    &__contacts {
        display: flex;
        gap: 64px;

        @include tablet {
            grid-row: 3;
            gap: 12px;
        }

        @include mobile {
            flex-direction: column;
            row-gap: 12px;
            grid-column: 1/ -1;
            grid-row: 2;
        }
    }

    &__right {
        display: flex;
        gap: 24px;

        @include tablet {
            grid-row: 2;
            margin-bottom: 32px;
        }

        @include mobile {
            margin-bottom: 0;
            flex-direction: column;
            row-gap: 24px;
            grid-column: 2;
            grid-row: 1;
            justify-self: self-end;
            align-self: center;
        }
    }

    &__menu-row {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 24px;
        margin-bottom: 32px;
        width: 100%;

        @include tablet {
            margin-bottom: 12px;
            grid-template-columns: 1fr;
        }
    }

    &__menu {
        border: var(--border-gray_light);
        background: var(--gray_white);
        border-radius: 16px;
        padding: 16px 40px;

        @include tablet {
            border: none;
            padding: 0;
            background: var(--white);
        }
    }

    &__menu-list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: flex-start;
            gap: 18px;
        }

        >* {
            @include tablet {
                padding-bottom: 18px;
                border-bottom: var(--border-gray_light);
            }
        }

        >*:last-child {
            @include tablet {
                border-bottom: none;
            }
        }
    }

    &__menu-item {
        @include tablet {
            font-weight: 500;
            font-size: 18px;
        }
    }

    &__menu-item:not(:last-child) {
        margin-right: 10px;

        @include tablet {
            margin-right: 0;
            width: 100%;
        }
    }

    &__menu-link {
        white-space: nowrap;
        text-shadow: none;
        transition: text-shadow 0.2s;

        &:hover {
            text-shadow: 0 0 0.65px var(--blue_black), 0 0 0.65px var(--blue_black);
        }
    }

    &__middle {
        display: flex;
        column-gap: 24px;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: var(--gray_blue_dark);
        border: var(--border-gray_light);
        border-radius: 16px;
        padding: 12px 24px;
        max-width: max-content;

        @include tablet {
            padding: 12px 10%;
            max-width: 100%;
            width: 100%;
            background-color: var(--gray_white);
        }

        @include mobile {
            text-align: left;
            padding: 12px 16px;
        }
    }

    &__ratings {
        display: flex;
        gap: 12px;

        @include tablet {
            margin-bottom: 32px;
        }

        @include mobile {
            flex-wrap: wrap;
            gap: 8px;
        }
    }

    &__rating {
        flex: 0 1 145px;
        min-width: 120px;
        border: 2px solid var(--gray_light);
        border-radius: 18px;
        padding: 10px 12px;
        display: flex;
        white-space: nowrap;
        height: 38px;
        align-items: center;
        justify-content: center;
        max-width: max-content;
    }
}

/*---------- FOOTER (END)---------------------*/