@use "../helpers"as *;

/*---------HEADER (START)--------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--white);
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.01em;
    background-color: var(--white);



    &__top {
        padding-block: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.4s ease;
        overflow: hidden;

        @include laptop {
            display: none;
        }
    }

    &__cta-btn {
        @include laptop {
            display: none;
        }
    }

    &__contacts {
        display: flex;
        gap: 64px;
    }

    &__actions {
        display: flex;
        align-items: baseline;
        column-gap: 24px;
    }

    &__bottom {
        display: grid;
        grid-template-columns: 213px 1fr 205px;
        column-gap: 2.8vw;
        align-items: flex-end;
        transition: all 0.4s ease;

        @include laptop {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
        }
    }



    &__logo {
        @include mobile {
            height: 34px;
            width: 176px;
        }
    }

    &__burger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 99;
        border: var(--border-gray_light);
        border-radius: 12px;
        width: 48px;
        height: 48px;
        padding: 17px 14px;
        background-color: var(--gray_white);

        @include laptop {
            display: flex;
        }

        span {
            display: block;
            width: 20px;
            height: 2px;
            background: var(--blue_black);
            border-radius: 3px;
            transition: all 0.3s ease;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        span:nth-child(1) {
            top: 17px;
        }

        span:nth-child(2) {
            top: 23px;
        }

        span:nth-child(3) {
            top: 29px;
        }

        &.active {
            span:nth-child(1) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
                transform: translate(-50%, -50%) scale(0);
            }

            span:nth-child(3) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &__menu {
        border: var(--border-gray_light);
        background: var(--gray_white);
        border-radius: 16px;
        padding: 16px 40px;

        @include laptop {
            display: none;
        }
    }

    &__menu-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-item:not(:last-child) {
        margin-right: 10px;
    }

    &__menu-link {
        white-space: nowrap;
        text-shadow: none;
        transition: text-shadow 0.2s;

        &:hover {
            text-shadow: 0 0 0.65px var(--blue_black), 0 0 0.65px var(--blue_black);
        }
    }

    // Состояние при скролле
    &--scrolled {
        top: 20px;
        background-color: transparent;
        width: 100%;



        .header__top {
            max-height: 0;
            padding-top: 0;
            padding-bottom: 0;
            opacity: 0;
            pointer-events: none;
        }

        .header__bottom {
            padding-top: 10px;
            padding-bottom: 10px;


        }

        .container {
            border-radius: 24px;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        .header__menu {
            background: rgba(255, 255, 255, 0.5);
            border: none;
        }
    }
}





/*---------HEADER (END)--------*/