@use "../helpers"as *;

/*---------HEADER (START)--------*/
.header {
    // position: sticky;
    // z-index: 100;
    // top: 0;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.01em;
    background-color: var(--white);

    &__top {
        padding-block: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include laptop {
            display: none;
        }
    }

    &__cta-btn {
        @include laptop {
            display: none;
        }
    }

    &__contacts {
        display: flex;
        gap: 64px;
    }

    &__actions {
        display: flex;
        align-items: baseline;
        column-gap: 24px;
    }

    &__bottom {
        display: grid;
        grid-template-columns: 213px 1fr 205px;
        column-gap: 2.8vw;
        align-items: flex-end;

        @include laptop {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
        }
    }



    &__logo {
        @include mobile {
            height: 34px;
            width: 176px;
        }
    }

    &__burger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 99;
        border: var(--border-gray_light);
        border-radius: 12px;
        width: 48px;
        height: 48px;
        padding: 17px 14px;
        background-color: var(--gray_white);

        @include laptop {
            display: flex;
        }

        span {
            display: block;
            width: 20px;
            height: 2px;
            background: var(--blue_black);
            border-radius: 3px;
            transition: all 0.3s ease;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        span:nth-child(1) {
            top: 17px;
        }

        span:nth-child(2) {
            top: 23px;
        }

        span:nth-child(3) {
            top: 29px;
        }

        &.active {
            span:nth-child(1) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
                transform: translate(-50%, -50%) scale(0);
            }

            span:nth-child(3) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &__menu {
        border: var(--border-gray_light);
        background: var(--gray_white);
        border-radius: 16px;
        padding: 16px 40px;

        @include laptop {
            display: none;
        }
    }

    &__menu-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-item:not(:last-child) {
        margin-right: 10px;
    }

    &__menu-link {
        white-space: nowrap;
        text-shadow: none;
        transition: text-shadow 0.2s;

        &:hover {
            text-shadow: 0 0 0.65px var(--blue_black), 0 0 0.65px var(--blue_black);
        }
    }
}



/*---------HEADER (END)--------*/