@use "../helpers"as *;
/*---------- HERO (START)---------------------*/

.hero {
    padding-top: 48px;

    &__content {
        display: flex;
        gap: 20px;
        align-content: stretch;
        margin-bottom: 20px;

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            gap: 24px;
        }
    }

    &__text {
        width: 50%;
        padding: 56px 48px;
        background-color: var(--gray_white);
        border-radius: 40px;
        overflow: hidden;

        @include tablet {
            width: 100%;
            padding: 32px;
        }

        @include mobile {
            padding: 24px 16px;
        }
    }

    &__subtitle {
        font-size: 14px;
        padding: 12px;
        font-weight: 500;
        margin-bottom: 24px;
        background-color: var(--white);
        border-radius: 18px;

        @include tablet {
            margin-bottom: 20px;
        }

        @include mobile {
            padding: 8px 12px;
            margin-bottom: 12px;
        }
    }

    &__title {
        padding-bottom: 24px;
        border-bottom: 1px solid var(--gray_1);

        @include tablet {
            padding-bottom: 20px;
        }

        @include mobile {
            padding-bottom: 16px;
        }
    }

    &__title-highlight {
        color: var(--blue_dark);
    }

    &__description {
        padding-top: 27px;
        margin-bottom: 40px;

        @include tablet {
            font-size: 18px;
            padding-top: 20px;
        }

        @include mobile {
            font-size: 16px;
            padding-top: 16px;
            margin-bottom: 20px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            .button {
                width: 100%;
            }
        }
    }

    &__note {
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.01em;
        color: var(--gray_blue_dark);
    }

    &__swiper {
        width: 50%;
        position: relative;
        overflow: hidden;

        @include tablet {
            width: 100%;
        }
    }
}

// =====================
// HERO SLIDER — БЛОК
// =====================

.hero-slider {
    @include tablet {
        aspect-ratio: 16 / 8.7;
    }

    @include mobile {
        aspect-ratio: 1;
    }

    &__swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-wrapper {
        height: 100%;
    }

    .swiper-slide {
        height: 100%;
        border-radius: 40px;
        border: var(--border-gray_light);
        overflow: hidden;
    }

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    &__card {
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 24px;
        background: var(--white);
        border-radius: 24px;
        padding: 20px 24px;

        z-index: 2;

        @include tablet {
            padding: 16px 24px;
            bottom: 44px;
        }

        @include mobile {
            left: 16px;
            right: 16px;
            padding: 20px 24px;
            bottom: 36px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 1.2;
        color: var(--blue_dark);
        margin-bottom: 10px;

        @include tablet {
            font-size: 24px;
        }

        @include mobile {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }

    &__desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: var(--blue_black);
        margin-bottom: 20px;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__price-current {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.1;
        color: var(--blue_black);
        text-transform: uppercase;

        @include tablet {
            font-size: 28px;
        }

        @include mobile {
            font-size: 24px;
        }
    }

    &__price-old {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: var(--gray);
        text-decoration: line-through;

        @include tablet {
            font-size: 16px;
        }
    }

    &__price-discount {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.01em;
        color: var(--blue_black);
        border: 1px solid var(--blue_dark);
        border-radius: 8px;
        padding: 2px 6px;
    }

    // Навигация
    &__controls {
        position: absolute;
        top: 50%;
        left: 24px;
        right: 24px;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        pointer-events: none;
        z-index: 10;
    }

    &__nav {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: var(--gray_blue);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;

        svg {
            display: block;
            color: var(--gray_blue_dark);
            transition: color 0.2s ease;
        }

        &:hover svg,
        &:focus-visible svg {
            color: var(--blue_hover);
        }
    }

    // Пагинация
    &__pagination {
        margin-top: 12px;
        padding: 0 20px;

        .swiper-pagination-bullet {
            border-radius: 4px;
            width: 24px;
            height: 4px;
            background-color: var(--white);
            opacity: 1;
            transition: background-color 0.2s;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: var(--white);
        }
    }
}

/// =====================
// HERO — Преимущества
// =====================

.hero {
    &__features-list {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include laptop-s {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            gap: 16px;
        }

        @include mobile {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }

    &__features-item {
        position: relative;
        display: flex;

        background-color: var(--gray_blue);
        border: var(--border-gray_light);
        border-radius: 24px;
        overflow: hidden;
        min-height: 136px;

        @include tablet {
            min-height: 92px;
        }

        @include mobile {
            min-height: 86px;
        }
    }

    &__features-title {
        position: relative;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: var(--blue_black);
        padding: 24px;
        z-index: 2;

        @include tablet {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }
    }

    &__features-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;

        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        z-index: 1;
    }
}

/*---------- HERO (END)---------------------*/