@use "../helpers"as *;
/*---------- УСЛУГИ (START)---------------------*/

.services {
    &__head {
        margin-bottom: 40px;
        position: relative;
        display: flex;
        justify-content: space-between;

        @include tablet {
            margin-bottom: 32px;
        }

        @include mobile {
            margin-bottom: 24px;
        }
    }

  

    &__nav {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    .swiper-container {
        display: block;
    }

    .swiper-container[hidden] {
        display: none;
    }

    &__swiper {
        position: relative;
        width: 100%;
        height: auto;

        .swiper-wrapper {
            display: flex;
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;
            display: flex;
        }
    }

    &__card {
        padding: 32px;
        border-radius: 40px;
        background-color: var(--gray_white);
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: relative;
        display: grid;
        z-index: 1;
    }

    .background {
        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: 150px;
            z-index: 0;
            background-repeat: no-repeat;
            background-position: right bottom;
        }

        &--image-1::after {
            background-image: url(../../images/services/1.png);
        }

        &--image-2::after {
            background-image: url(../../images/services/2.png);
        }

        &--image-3::after {
            background-image: url(../../images/services/3.png);
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.2;
        color: var(--blue_dark);
        margin-bottom: 16px;
    }

    &__desc {
        margin-bottom: 80px;
        color: var(--gray_dark);
        /* Добавь цвет если нужно */
    }

    &__price {
        border: 1px solid var(--gray_1);
        border-radius: 24px;
        padding: 8px 16px;
        background-color: var(--white);
        display: inline-block;
        max-width: max-content;
    }
}

// .nav-btn {
//     border-radius: 16px;
//     padding: 10px 24px;


// }

// .nav-btn.active {
//     background: #3272dc;
//     color: var(--white);
// }

// .nav-btn:not(.active) {
//     background: var(--your-default-color);
//     color: var(--your-default-text-color);
// }
// .nav-btn:focus {
//     outline: 2px solid #3272dc;
//     outline-offset: 2px;
// }

.nav-btn {
    border-radius: 16px;
    padding: 10px 24px;
    background: #f0f0f0;
 
    color: #333;
    border: none;
    cursor: pointer;
}

.nav-btn.active {
    background: #3272dc;
    color: white;
}


.nav-btn:focus {
    outline: 2px solid #3272dc;
    outline-offset: 2px;
}

/*---------- УСЛУГИ (END)---------------------*/
._js-tabs-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.4s ease-in-out,
        visibility 0.4s ease-in-out;
}

/* Стили для активного таба */
._js-tabs-info.active {
    position: relative;
    opacity: 1;
    visibility: visible;
    transition:
        opacity 0.4s ease-in-out 0.1s,
        visibility 0.4s ease-in-out 0.1s;
}