@use "helpers"as *;

html {
    scroll-behavior: initial;
}

body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    color: var(--color-primary);
    background-color: var(--white);

    @include mobile {
        font-size: 16px;
    }
}

main {
    flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    color: var(--color-primary);
    font-family: var(--font-family-base);
    line-height: 0.9;
}

h1,
.h1,
h2,
.h2 {
    @include fluid-text(48, 24);
    font-weight: 500;
    line-height: 1.2;

    @include mobile {
        font-size: 24px;
    }
}

h3,
.h3 {
    font-family: var(--font-family-accent);
    font-weight: 500;
    font-size: 48px;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

button,
button:active,
button:focus {
    border: none;
}

a {
    color: inherit;

    // @include hover {
    //     color: var(--color-blue);
    // }

    // отключить подчеркивание ссылок, у которых есть класс
    &[class] {
        text-decoration: none;
    }
}

.section {
    padding-block: 120px;

    @include laptop-s {
        padding-block: 60px;
    }
}

// при фокусе на элементе, который доступен с клавиатуры, добавить аутлайн
:focus-visible {
    outline: rem(2) dashed var(---white);
    outline-offset: rem(2);
    transition-duration: 0s !important;
}