@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';



@use 'blocks/icon';
@use 'blocks/button';
@use 'blocks/header';
@use 'blocks/hero';
@use 'blocks/special-offers';
@use 'blocks/banner-cta';
@use 'blocks/doctors';
@use 'blocks/banner_documents';
@use 'blocks/faq';
@use 'blocks/services';
